@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* This creates 'text-brand', 'bg-brand', 'border-brand', etc. */
  --color-brand: #1d4480;
  --color-brand-dark: #15335f;
  --color-font-button: #b1c5e7;

  /* You can also define your gradient here to use as 'bg-my-gradient' */
  --background-image-logo-gradient: linear-gradient(
    to bottom right,
    #cbdcfa,
    #bbc9eb
  );
  --background-image-my: linear-gradient(to right, #1d4480, #15335f);
  --background-image-ym: linear-gradient(to left, #1d4480, #15335f);
  --background-image-auth-form: linear-gradient(to right, #101522, #090c17);
  --background-image-right-bar: linear-gradient(to bottom, #0f172a, #020617);

  --background-image-desktop-bg: url('/images/bg_desktop.png');
  --background-image-tablet-bg: url('/images/bg_tablet.png');
  --background-image-mobile-bg: url('/images/bg_mobile.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

/* .custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #161922;
  border-radius: 10px;
} */

/* 🔥 MODERN SCROLLBAR */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* 🔥 fully hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}